#goban {
    position:absolute;
    z-index:100;
    display: inline-block;
    width:950px;
    height:950px;
    margin-left: 195px;
    left: 0;
}


#goban div {
    display:inline-block;
    float: left;
    width:38px;
    height:38px;
    margin-top:6px;
    margin-bottom:6px;
    margin-right:6px;
    margin-left:6px;
    border-radius: 100px;
    
}

/* ----------------- BACKGROUND ---------------- */

#background{
    position:absolute;
    margin-left:210px;
    border:1px solid yellow;
    width: 900px;
    margin-top: 25px;
    
}

#background .bgIntersection {
    display:inline-block;
    margin:0, auto;
    height:48px;
    width:48px;
    border:1px solid green;
    float:left;
}

/* -------------- PIONS ---------------- */

.empty {
    background-color: transparent;
}

.black {
    background-color:black;
}

.white {
    background-color:#b4a8a8;
}

.territory_black {
    background-color:rgba(0, 0, 0, 0.34);
}

.territory_white {
    background-color:rgba(180, 168, 168, 0.39);
}


/* ----------------- INFOS PLAYERS ---------------- */


#joueurInfo {
    float:left;
    display:inline-block;
    margin-top:30px;
    font-family:serif;
    font-size:27px;
}

#blackPlayer{
    border: 1px solid black;
}

#whitePlayer{
    border: 1px solid black;
}

#passer {
    padding: 10px;
    display: block;
    margin-top: 300px;
    position: absolute;
}

#restart {
    padding: 10px;
    display: block;
    margin-top: 340px;
    position: absolute;
}

#reset {
    padding: 10px;
    display: block;
    margin-top: 380px;
    position: absolute;
}

#save {
    padding: 10px;
    display: block;
    margin-top: 420px;
    position: absolute;
}

#reload {
    padding: 10px;
    display: block;
    margin-top: 460px;
    position: absolute;
}