body {
    background-color: #0f0f0f;
    overflow-x: hidden;
    color: white;
    font-family: Open Sans, sans-serif;
    letter-spacing: 0.2em;
}

#container {
    margin: auto;
    width: 575px;
    height: 575px;
    position: relative;
    z-index: 10;
}

#goban {
    position:absolute;
    z-index:100;
    display: inline-block;
    width:570px;
    height:570px;
}


#goban div {
    display:inline-block;
    float: left;
    width:18px;
    height:18px;
    margin-top:6px;
    margin-bottom:6px;
    margin-right:6px;
    margin-left:6px;
    border-radius: 100px;
    
}

/* ----------------- BACKGROUND ---------------- */

#background{
    background: url('../img/test2.png')repeat 50%;    
    position:absolute;
    left: 15px;
    width: 540px;
    margin-top: 16px;
    
}

#deco {
    background-image: url('../img/border.png');
    background-size: cover;
    position:absolute;
    left: 7px;
    width: 556px;
    height: 556px;
    margin-top:8px;
    
}

#background .bgIntersection {
    display:inline-block;
    margin:0, auto;
    height:28px;
    width:28px;
    border:1px solid #444;
    float:left;
}


/* -------------- PIONS ---------------- */

.empty {
    background-color: transparent;
}

.empty:hover {
    background-color: rgba(0,0,0,0.9);
}

.black {
    background-color: #b4a8a8;
}

.white {
    background-color:#5C0D09;
}

.territory_black {
    background-color:rgba(101, 95, 95, 0.59);
}

.territory_white {
    background-color:rgba(224, 75, 75, 0.53);
}





/* ----------------- INFOS PLAYERS ---------------- */

.sections {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    font-size: 18px;
}

.wrapper {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 910px;
    height: 600px;
    margin: auto;
}

#container .top {
    width: 360px;
    margin: auto;
}

#currentPlayer{
   /*  position: absolute;
   margin-left: calc(50% - 135px);
   margin: auto;
   font-size: 18px; */
   margin: auto;
   display: inline-block;
}


.BouttonUn {
    display: inline-block;
    height: 35px;
    vertical-align: top;
    font-size: 15px;
    margin-left: 40px;
    cursor: pointer;
}

.BouttonUn p{
    line-height: 30px;
    margin: 0;
    vertical-align: middle;
}


#currentPlayer img{
    height: 30px;
}

#currentPlayer .alice{
    margin-left: 25px;
}



#blackPlayer{ /* Alice */
    width: 160px;
    height: 250px;
    font-size: 24px;
    text-align: center;
}

#blackPlayer img { /* Alice */
    width: 90px;
}

#blackPlayer #blackPrisoner{  /* Alice */
    margin-top: 10px;
    font-size: 18px;
}

#blackPlayer .text { /* Alice */
    font-size: 15px;
    display: block;
    margin-top: 5px;
}



#whitePlayer{
    width: 160px;
    height: 250px;
    font-size: 24px;
    text-align: center;
}

#whitePlayer img {
    width: 90px;
}

#whitePlayer #whitePrisoner{
    margin-top: 10px;
    font-size: 18px;
}

#whitePlayer .text {
    font-size: 15px;
    display: block;
    margin-top: 5px;
}


#talice {
    background-color: black;
    padding: 5px calc((100% - 794px) / 2 );
    position: absolute;
    left: 0;
    right: 0;
    top: 45vh;
   opacity: 0;
   z-index:0;
}

#tplague{
    background-color: black;
    padding: 5px calc((100% - 900px) / 2 );
    position:absolute;
    left:0;
    top: 45vh;
    right:0;
    opacity: 0;
    z-index: 0;
}

/* button {
    display: block;
    width: 140px;
    text-align: center;
    margin: auto;
    padding: 8px 15px;
    background-color: #222;
    background-image:linear-gradient(#220b00, #723404, #220b00);
    border:2px solid #111;
    -webkit-border-image: -webkit-linear-gradient(#a2883a, #fdc03b, #a2883a) 10 10 stretch stretch;
    -o-border-image: -o-linear-gradient(#a2883a, #fdc03b, #a2883a) 10 10 stretch stretch;
    border-image: linear-gradient(#a2883a, #fdc03b, #a2883a) 10 10 stretch stretch;
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
    font-family: "Steampuff";
    letter-spacing: 0.2em;
} */

.button {
    display: block;
    width: 160px;
    margin-bottom: 15px;
    /* height: 40px; */
    cursor: pointer;
}

.controls {
    width: 160px;
    position: absolute;
    text-align: center;
    top:50px;
}


.errors.invisible {
    top:50px;
    opacity: 0;

}



.errors {
    position: absolute;
    width: 140px;
    padding: 10px;
    text-align: center;
    right: 0;
    color: #222;
    font-size: 12px;
    background-color: #eee;
    transition: all ease 0.3s;

}

.errors.visible {
    top: 100px;
    opacity: 1;
}