body {
    background-image: url('../img/Background.jpg');
    background-size: cover;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#container {
    position: relative;
    margin: auto;
    padding-top: 5vh;
    width: 1200px;
}

#goban {
    position:absolute;
    z-index:100;
    display: inline-block;
    width:950px;
    height:950px;
    margin-left: 130px;
    left:0;
}


#goban div {
    display:inline-block;
    float: left;
    width:38px;
    height:38px;
    margin-top:6px;
    margin-bottom:6px;
    margin-right:6px;
    margin-left:6px;
    border-radius: 100px;
    
}

/* ----------------- BACKGROUND ---------------- */

#background{
    background: url('../img/test.jpg')repeat 50%;    
    position:absolute;
    left: 150px;
   
    width: 900px;
    margin-top: 25px;
    
}

#deco {
    background-image: url('../img/border.png');
    background-size: cover;
    position:absolute;
    left: 135px;
    width: 930px;
    height: 930px;
    margin-top:10px;
    
}

#background .bgIntersection {
    display:inline-block;
    margin:0, auto;
    height:48px;
    width:48px;
    border:1px solid green;
    float:left;
}

/* -------------- PIONS ---------------- */

.empty {
    background-color: transparent;
}

.black {
    background-color: #b4a8a8;
}

.white {
    background-color:red;
}

.territory_black {
    background-color:rgba(90, 88, 88, 0.49);
}

.territory_white {
    background-color:rgba(227, 51, 51, 0.53);
}


/* ----------------- INFOS PLAYERS ---------------- */


#joueurInfo {
    float:left;
    display:inline-block;
    margin-top:30px;
    font-family:serif;
    font-size:27px;
}

#currentPlayer{
    position: absolute;
    top : 30px;
    margin-left: 44vw;
    color: white;
    font-family: "ADAM.CG PRO";
}

#blackPlayer{
    position: absolute;
    margin-top: 85vh;
    margin-left: 6vw;
    color: white;
    font-family: "ADAM.CG PRO";
}

#blackPlayer img {
    position: absolute;
    margin-left: -6vw;
    top: -200px;
    width: 200px;
}

#whitePlayer{
    position: absolute;
    margin-top: 85vh;
    margin-left: 83vw;
    color: white;
    font-family: "ADAM.CG PRO";
}

#whitePlayer img {
    position: absolute;
    margin-left: 9.3vw;
    float: right;
    width: 200px;
    top: -200px;
}

#passer {
    padding: 10px;
    display: block;
    margin-top: 300px;
    position: absolute;
}

#restart {
    padding: 10px;
    display: block;
    margin-top: 340px;
    position: absolute;
}

#reset {
    padding: 10px;
    display: block;
    margin-top: 380px;
    position: absolute;
}

#save {
    padding: 10px;
    display: block;
    margin-top: 420px;
    position: absolute;
}

#reload {
    padding: 10px;
    display: block;
    margin-top: 460px;
    position: absolute;
}

#talice {
    background-color: black;
    padding-left: 20%;
    padding-right: 20%;
    position:absolute;
    left:0;
    top: 45vh;
    right:0;
    margin-left:auto;
    margin-right:auto;
    opacity: 0;
    z-index:0;
}

#tplague{
    background-color: black;
    padding-left: 20%;
    padding-right: 20%;
    position:absolute;
    left:0;
    top: 45vh;
    right:0;
    margin-left:auto;
    margin-right:auto;
    opacity: 0;
    z-index: 0;
}