body {
    letter-spacing: 0.2em;
    color: #d7d7d7;
    background-color: #0f0f0f;
    overflow-x: hidden;
    font-family: Open Sans, sans-serif;
}


#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 400px;
    margin: auto;
    text-align: center;
}


.sections {
    display: block;
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px solid #EE5353;
}

#handicap {
    border: none;
}


form p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 14px;
}


.button {
    width: 120px;
    height: 30px;
    background-color: #EE5353;
    text-align: center;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    display: inline-block;
}

.button:hover {
    color: #EE5353;
}


label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
}


label:hover {
    color: #EE5353;
}

input[type=radio]:checked + label {
    color: #EE5353;
    border-bottom: 1px solid #EE5353;
}

input[type=radio] {
    display: none;
}


input[type=submit] {
    letter-spacing: 0.2em;
}

#caseErreurs {
    color: #EE5353;
}