#goban {
    position: relative;
    z-index:100;
    display: inline-block;
    width:480px;
    height:468px;
    margin-left:200px;
}


#goban div {
    display:inline-block;
    width:25px;
    height:25px;
    border-radius: 100px;
    float: left;
}

/* -------------- PIONS ---------------- */

.empty {
    background-color: transparent;
}

.black {
    background-color:black;
}

.white {
    background-color:#716666;
}


/* ----------------- INFOS PLAYERS ---------------- */


#joueurInfo {
    position:absolute;
    display:inline-block;
    margin-top:130px;
    font-family:serif;
    font-size:27px;
}

#blackPlayer{
    border: 1px solid black;
}

#whitePlayer{
    border: 1px solid black;
}


/* ----------------- BACKGROUND ---------------- */

#background{
    margin-left:211px;
    margin-top:-460px;
    border:2px solid yellow;
    width: 480px;
    height:480px;
}


.bgIntersection {
    display:inline-block;
    height:24px;
    width:24px;
    border:1px solid green;
}