#goban {
    z-index:100;
    display: inline-block;
    width:468px;
    height:468px;
    margin-left:200px;
}

.lines {
    
}

.empty {
    display:inline-block;
    width:50px;
    height:50px;
    
}

.black {
    display:inline-block;
    width:50px;
    height:50px;
    
    background-color:black;
}

.white {
    display:inline-block;
    width:50px;
    height:50px;
    
    background-color:#716666;
}

#joueurInfo {
    position:absolute;
    display:inline-block;
    margin-top:130px;
    font-family:serif;
    font-size:27px;
    
}

#background {
    z-index: 1;
    margin-left:225px;
    margin-top:-493px;
    border:2px solid yellow;
    width:418px;
    height:418px;

}

.bgLines {
    width:468px;
    height:50px;
    margin-left:auto;
    
}

.intersection {
    display:inline-block;
    height:50px;
    width:50px;
    border:1px solid green;
}